
//Fonts
$copy:'Lato', sans-serif;
$icomoon-font-path: "../assets/fonts" !default;

// Icons
$icon-FCCfire: "\1f525";
$icon-envelope: "\1f4e7";
$icon-link: "\1f517";
$icon-facebook: "\1f600";
$icon-twitter: "\1f54a";
$icon-linkedin: "\1f587";

//Colours
$darkGreen: #006400;
$white: #ffffff;
$paleGray: #eeeeee;
